:root {
  --color-primary: #EEEEEE;
  --color-secondary: #595959;
  --color-secondary-light: #8D8E8E;
  --color-accent: #057A87;


  --font-primary: 'PT Sans', sans-serif;
  --font-secondary: 'Abril Fatface', cursive;
}

html {
  font-family: var(--font-primary)
}
