.bottom {
  display: block;
}

.blue-link {
  text-decoration: none;
  border-bottom: solid 3px var(--color-accent);
}
.blueline {
  border-bottom: solid 3px var(--color-accent);
  height: 0px;
  width: 88%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 25em) {
  .bottom {
    text-align: right;
  }
}

@media only screen and (min-width: 38em) {
  .bottom {
    text-align: right;
  }
}
