.quote {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 0px;
  width: 88%;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box {
  height: 445px;
}


@media only screen and (min-width: 38em) {

  .quote {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 120%;
  }
}

@media only screen and (min-width: 60em) {

  .quote {
    padding-left: 140px;
    padding-right: 140px;
  }

  .quote {
      height: 0px;
      width: 88%;
      bottom: 60%;
      left: 50%;
      transform: translateX(-50%);
    }
}

@media only screen and (min-width: 90em) {

  .quote {
    padding-left: 140px;
    padding-right: 140px;
}
}
