.description-1 {
  max-height: 575px;
  overflow: hidden;
  height: auto;
}


@media only screen and (min-width: 38em) {
.description-1 {
    max-height: 300px;
    overflow: hidden;
    height: auto;
  }
}

@media only screen and (min-width: 60em) {
.description-1 {
    max-height: 450px;
    overflow: hidden;
    height: auto;
  }
}

@media only screen and (min-width: 90em) {
  .description-1 {
    max-height: 600px;
    overflow: hidden;
    height: auto;
  }

}
