<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>MiriamP. · Miriam P. Portfolio · Ottawa, Ontario, Canada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="description" content="A graphic design, art and illustration portfolio site for Miriam P. Artist and designer in Ottawa">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,700|Playfair+Display&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117,-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MiriamP. · Miriam P. Artist and designer Portfolio">
  <meta property="og:url" content="https://miriamp.ca/">
  <meta property="og:image" content="https://miriamp.ca/images/social.jpg">
  <meta property="og:site_name" content="Miriam P. Portfolio Site">
  <meta property="og:description" content="A graphic design, art and illustration portfolio site for Miriam P. Artist and designer in Ottawa">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@miriamp.">

</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>
  <header role="banner" class="masthead" id="header">
    {% if page.show_second_nav %}
    {% pattern navigation/second-nav %}
    {% else %}
    {% pattern navigation/nav %}
    {% endif %}
  </header>
  <main>
    {{content}}
  </main>
  {% pattern footer/footer %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Miriam P. Portfolio",
    "author": {
      "@type": "Person",
      "@id": "#miriampion"
    },
    "description": "A comprehensive portfolio site showcasing branding, type and illustration from Ottawa based designer",
    "image": "https://placehold.it/1600x900",
    "award": "",
    "url": "https://miriamp.ca/",
    "keywords": "Web, Responsive, CSS, Mobile, Cool Art, Portfolio"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#miriampion",
    "name": "Miriam Pion",
    "email": "miriamp@design.ca",
    "url": "https://miriamp.ca"
  }
</script>

</body>
</html>
