.beet {
  background-image: url("../images/beet.png");
  background-size: 110vw auto;
  min-height: 50px;
  background-position: center -25px;
  background-repeat: no-repeat;
}

.artichoke {
  background-image: url("../images/artichaux-3.png");
  background-size: 175%;
  min-height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.citrus {
  background-image: url("../images/citrus-banner-1.png");
  background-size: 75%;
  min-height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.blueline {
  border-bottom: solid 3px var(--color-accent);
  height: 0;
  width: 88%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 70px;
}

.nav {
  font-size: 25px;
}

.grey {
  color: #595959;
  text-decoration: none;
}

@media only screen and (min-width: 25em) {

  .title {
    font-size: 80px;
  }
  .artichoke {
    min-height: 400px;
    background-size: 200%;
    background-position: center 30%;
  }
}

@media only screen and (min-width: 38em) {

  .title {
    position: absolute;
    bottom: 10%;
    left:12%;
    font-size: 90.4416px;
  }

  .beet {
    min-height: 400px;
    background-size: cover;
    background-position: center center;
  }

  .artichoke {
    min-height: 400px;
    background-size: 200%;
    background-position: center center;
  }

  .nav-top {
    display: inline-block;
  }
}

@media only screen and (min-width: 60em) {
  .artichoke {
    min-height: 400px;
    background-size: 120%;
    background-position: center center;
  }
}
